.initial-response-wrapper {
  border-top: var(--default-border-size) solid var(--border);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--default-text-light);
  font-size: var(--default-font-size);
}

.img-initial-response {
  fill: var(--logo-color);
  width: 30%;
  height: 30%;
}

.initial-text {
  padding: 10px;
}
