.request-wrapper {
  display: flex;
  flex-direction: column;
  height: inherit;
}

.request-options-wrapper {
  display: flex;
  flex-direction: column;
  height: inherit;
  resize: vertical;
  overflow: auto;
}

.response-wrapper {
  display: flex;
  flex-direction: column;
  height: inherit;
}
