.request-wrapper {
  display: flex;
  flex-direction: column;
  height: inherit;
}

.request-options-wrapper {
  display: flex;
  flex-direction: column;
  height: 50%;
}

.response-wrapper {
  display: flex;
  flex-direction: column;
  height: 50%;
}
