body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --primary: var(--vscode-button-hoverBackground);
  --primary-dark: var(--vscode-button-background);
  --background: var(--vscode-selection-background);
  --input-field: var(--vscode-dropdown-background);
  --input-field-focus: var(--vscode-dropdown-background);
  --input-field-hover: var(--vscode-dropdown-background);
  --input-field-unchecked: #808080;
  --default-text: var(--vscode-foreground);
  --default-text-light: var(--vscode-descriptionForeground);
  --border: var(--vscode-descriptionForeground);
  --send-button: var(--vscode-button-background);
  --send-button-hover: var(--vscode-button-hoverBackground);
  --tab-info: #259c47;
  --logo-color: #626262;
  --default-font-size: 11px;
  --small-font-size: 8px;
  --default-border-size: 0.1px;
}

html,
body,
#root,
.App {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
