body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --primary: #f26c3a;
  --primary-dark: #ef4f15;
  --background: #282828;
  --input-field: #404040;
  --input-field-focus: #303030;
  --input-field-hover: #3a3a3a;
  --input-field-unchecked: #808080;
  --default-text: #fff;
  --default-text-light: #bdbdbd;
  --border: #464646;
  --send-button: #0b7bed;
  --send-button-hover: #2890f8;
  --tab-info: #259c47;
  --default-font-size: 11px;
}

html, body, #root, .App {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
