.binary-wrapper {
  border-top: 1px solid var(--light-grey);
  display: flex;
  margin-top: 15px;
}

.input-file-upload {
  color: var(--off-white-text);
  font-size: var(--default-font-size);
  margin-top: 20px;
}