.error-response-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: var(--default-font-size);
}

.img-error-response {
  margin: 15px;
}

.error-message {
  margin: 10px;
  color: var(--error-message);
}