.basic-auth-input-group {
  padding: 15px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.label-basic-auth {
  font-size: var(--default-font-size);
  color: var(--white-text);
  padding-right: 20px;
}

.input-basic-auth {
  width: 50%;
  padding: 13px 20px;
  color: var(--white-text);
  display: inline-block;
  outline: none;
  border: 0;
  border-left: solid 1px var(--light-grey);
  border-radius: 0 2px 2px 0;
  background-color: var(--secondary);
  font-size: var(--default-font-size);
}
.input-basic-auth:focus {
  outline: none;
}
.input-basic-auth:hover {
  background-color: var(--input-req-url-hover);
}
