.request-wrapper {
  display: flex;
  flex-direction: column;
  height: inherit;
}

.request-options-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.response-wrapper {
  /* display: flex;
  flex-direction: column;
  flex: 1; */
  /* border: 1px solid var(--border); */
}
