.request-body-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.request-body-window-wrapper {
  flex: 1;
}

.body-options-wrapper {
  display: flex;
  align-items: center;
}

.body-options {
  display: flex;
  padding: 6px 5px 6px 0px;
  margin: 0 10px 0 0;
  justify-content: center;
  align-items: center;
}

.radio-body-option {
  cursor: pointer;
  outline: none;
  border-radius: 0;
  margin: 0px 8px;
}
.radio-body-option:checked {
  outline: none;
}
.radio-body-option:focus {
  outline: none;
}

.label-body-option {
  color: var(--default-text-light);
  font-size: var(--default-font-size);
}

.select-raw-lang {
  padding: 4px;
  margin-left: 5px;
  display: inline-block;
  font-weight: 600;
  outline: none;
  border: var(--default-border-size) solid var(--border);
  border-radius: 2px;
  background-color: var(--background);
  color: var(--default-text-light);
  cursor: pointer;
  font-size: var(--small-font-size);
}
.select-raw-lang:hover {
  color: var(--default-text);
}
.select-raw-lang:focus {
  outline: none;
}

#request-beautify {
  margin-left: 10px;
}
