.bearer-token-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
}

.label-bearer-token {
  font-size: var(--default-font-size);
  color: var(--default-text);
  padding-right: 20px;
}

.input-bearer-token {
  width: 60%;
  padding: 13px 20px;
  color: var(--default-text);
  display: inline-block;
  outline: none;
  border: 0;
  border-radius: 0 2px 2px 0;
  background-color: var(--input-field);
  font-size: var(--default-font-size);
}
.input-bearer-token:focus {
  outline: none;
}
.input-bearer-token:hover {
  background-color: var(--input-field-hover);
}
