.request-bar {
  display: flex;
  padding: 0 20px;
  padding-top: 30px;
}

.input-request-url {
  flex: 2;
  padding: 13px 20px;
  color: var(--default-text);
  display: inline-block;
  outline: none;
  border: 0;
  border-left: solid 1px var(--border);
  border-radius: 0 2px 2px 0;
  background-color: var(--input-field);
  font-size: var(--default-font-size);
}
.input-request-url:focus {
  outline: none;
}
.input-request-url:hover {
  background-color: var(--input-field-hover);
}

.select-request-type {
  padding: 12px 20px;
  display: inline-block;
  font-weight: 600;
  outline: none;
  border: 0;
  border-radius: 2px 0 0 2px;
  background-color: var(--input-field);
  color: var(--default-text);
  cursor: pointer;
  font-size: var(--default-font-size);
}
.select-request-type:hover {
  background-color: var(--input-field-hover);
}
.select-request-type:focus {
  outline: none;
}

.button-request-send {
  background-color: var(--send-button);
  color: var(--default-text);
  font-weight: bold;
  padding: 13px 20px;
  margin: 0px 12px;
  display: inline-block;
  outline: none;
  border-radius: 5%;
  border: 0;
  cursor: pointer;
  font-size: var(--default-font-size);
}
.button-request-send:hover {
  background-color: var(--send-button-hover);
}
