.request-bar {
  display: flex;
}

.input-request-url {
  flex: 2;
  padding: 13px 20px;
  color: var(--white-text);
  display: inline-block;
  outline: none;
  border: 0;
  border-left: solid 1px var(--light-grey);
  border-radius: 0 2px 2px 0;
  background-color: var(--secondary);
}
.input-request-url:focus {
  outline: none;
}
.input-request-url:hover {
  background-color: var(--input-req-url-hover);
}

.select-request-type {
  padding: 12px 20px;
  display: inline-block;
  font-weight: 600;
  outline: none;
  border: 0;
  border-radius: 2px 0 0 2px;
  background-color: var(--secondary);
  color: var(--white-text);
  cursor: pointer;
}
.select-request-type:hover {
  background-color: var(--input-req-url-hover);
}
.select-request-type:focus {
  outline: none;
}

.button-request-send {
  background-color: var(--btn-request);
  color: var(--white-text);
  font-weight: bold;
  padding: 13px 20px;
  margin: 0px 12px;
  display: inline-block;
  outline: none;
  border-radius: 5%;
  border: 0;
  cursor: pointer;
}
.button-request-send:hover {
  background-color: var(--btn-request-hover);
}
