.response-window {
  border-top: var(--default-border-size) solid var(--border);
  flex: 1;
  padding: 5px 20px 10px 20px;
}

.response-header {
  margin: 10px 0;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.response-view-options {
  display: flex;
  align-items: center;
}

.response-status {
  font-size: var(--default-font-size);
  display: flex;
  align-items: center;
}

.response-editor {
  height: 85%;
}

.text-response-status {
  color: var(--tab-info);
  margin-left: 5px;
}

.button-response-view {
  color: var(--default-text-light);
  font-size: var(--default-font-size);
  padding: 5px;
  cursor: pointer;
  background-color: var(--input-field);
  border: 0;
  outline: none;
}
.button-response-view:hover {
  color: var(--default-text);
  outline: none;
}
.button-response-view:focus {
  outline: none;
}

.button-response-view-selected {
  color: var(--default-text);
}

.select-res-lang {
  margin-left: 10px;
  padding: 4px;
  display: inline-block;
  font-weight: 600;
  outline: none;
  border: var(--default-border-size) solid var(--border);
  border-radius: 2px;
  background-color: transparent;
  color: var(--default-text-light);
  cursor: pointer;
  font-size: var(--small-font-size);
}
.select-res-lang:hover {
  color: var(--default-text);
}
.select-res-lang:focus {
  outline: none;
}
