.req-auth-wrapper {
  margin-top: 15px;
}

.auth-type {
  display: flex;
  align-items: center;
}

.label-auth-type {
  font-size: var(--default-font-size);
  color: var(--default-text);
  padding-right: 12px;
}

.select-auth-type {
  padding: 4px;
  display: inline-block;
  font-weight: 600;
  outline: none;
  border: 1px solid var(--border);
  border-radius: 2px;
  background-color: transparent;
  color: var(--default-text-light);
  cursor: pointer;
  font-size: var(--default-font-size);
}
.select-auth-type:hover {
  color: var(--default-text);
}
.select-auth-type:focus {
  outline: none;
}

.req-auth-type-window {
  border-top: 1px solid var(--border);
  margin-top: 15px;
}
