.request-options-tab-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px 0 20px;
}

.request-options {
  display: flex;
}

.request-option {
  padding: 0px 5px 10px 5px;
  margin: 0 10px 0 0;
  display: flex;
  cursor: pointer;
  background-color: transparent;
  color: var(--off-white-text);
  outline: none;
  border: 3px solid transparent;
  border-radius: 0;
  font-weight: 500;
  font-size: 10px;
}
.request-option:hover {
  color: var(--white-text);
}

.request-option-selected {
  color: var(--white-text);
  border-bottom: 3px solid var(--main);
}

.request-options-header-length {
  margin-left: 4px;
  color: var(--green);
}

.button-request-code {
  display: inline-block;
  cursor: pointer;
  background-color: transparent;
  color: var(--main);
  outline: none;
  border: 3px solid transparent;
  border-radius: 0;
  font-weight: 500;
  font-size: 12px;
}
.button-request-code:hover {
  color: var(--main-dark);
}
