.initial-response-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--default-text-light);
  font-size: var(--default-font-size);
}

.img-initial-response {
  margin: 20px;
  fill: var(--logo-color);
  width: 40%;
  height: 40%;
}
