.kv-table-wrapper {
  border-top: 1px solid var(--border);
  border-left: 1px solid var(--border);
  margin-top: 15px;
}

.kv-heading-wrapper,
.kv-row-wrapper {
  display: flex;
}

.kv-table-heading {
  flex: 1;
  color: var(--default-text);
  padding: 10px 12px;
  font-weight: 700;
  border: 0;
  border-bottom: 1px solid var(--border);
  border-right: 1px solid var(--border);
  font-size: 8px;
}

.kv-row-input {
  flex: 1;
  color: var(--default-text);
  padding: 10px 0px 10px 12px;
  border: 0;
  border-bottom: 1px solid var(--border);
  border-right: 1px solid var(--border);
  background-color: var(--background);
  font-size: var(--default-font-size);
}
.kv-row-input:focus {
  outline: none;
  background-color: var(--input-field-focus);
}

.kv-row-iwc-wrapper{
  flex: 1;  
  padding-left: 12px;
  display: flex;
  border-bottom: 1px solid var(--border);
  border-right: 1px solid var(--border);
}

.kv-row-iwc {
  flex: 1;
  border: 0;
  padding: 10px 12px;
  color: var(--default-text);
  background-color: var(--background);
  font-size: var(--default-font-size);
}
.kv-row-iwc:focus {
  outline: none;
  background-color: var(--input-field-focus);
}

.kv-row-input-unchecked {
  color: var(--input-field-unchecked);
}

.checkbox-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 12px;
}

.trash-icon {
  color: var(--default-text-light);
  cursor: pointer;
}

.kv-row-iwt-wrapper{
  flex: 1;  
  padding-right: 12px;
  display: flex;
  border-bottom: 1px solid var(--border);
  border-right: 1px solid var(--border);
}

.kv-row-iwt {
  flex: 1;
  border: 0;
  padding: 10px 12px;
  color: var(--default-text);
  background-color: var(--background);
  font-size: var(--default-font-size);
}
.kv-row-iwt:focus {
  outline: none;
  background-color: var(--input-field-focus);
}

.trash-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 12px;
}

.input-checkbox {
  outline: none;
}
.input-checkbox:checked {
  outline: none;
}
.input-checkbox:focus {
  outline: none;
}