.kv-table-wrapper {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
}

.kv-table-heading {
  flex: 1;
  color: var(--white-text);
  font-size: 10px;
  padding: 10px 12px;
  font-weight: 700;
  border: 1px solid var(--light-grey);
}

.kv-row-wrapper {
  display: flex;
}

.kv-row-input {
  flex: 1;
  color: var(--white-text);
  padding: 10px 12px;
  border: 1px solid var(--light-grey);
  background-color: var(--primary);
}
.kv-row-input:focus {
  outline: none;
  background-color: var(--light-grey-highlight);
}
